body {
    background-color: #481e06;
    text-align: center;
    overflow: hidden;
}

h3 {
    color: white;
    font-family: Arial;
}

#myCanvas {
    background-color: rgb(72, 169, 72);
}

button:hover {
    background: blueviolet;
    cursor: pointer;
}

button,
.file-input-label {
    display: inline-block;
    background-color: white;
    border-radius: 6px;
    /* width:35px;
    height:25px */

}

input[type=file] {
    width: 10px
}

#osmPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 9999px
}